.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/2018.09.05_AlzU_Data_Analysis-checkpoint.ipynb .ipynb_checkpoints/APCDataset-checkpoint.ipynb .ipynb_checkpoints/AlzU_CogScores_Descriptive-checkpoint.ipynb .ipynb_checkpoints/AlzU_Data_Description-checkpoint.ipynb .ipynb_checkpoints/CogScores-checkpoint.ipynb
